@media screen and (max-width: 992px) {
    .howWorks {
        &__heading {
            margin-bottom: 33px;
        }

        &_step {
            padding: 15px 20px;
            background-position: inherit;

            &__title {
                margin-bottom: 30px;
                line-height: 14px;
            }

            &__btn {
                margin-bottom: 45px;
            }
        }

        .bg2 {
            .howWorks_step__title {
                margin-bottom: 24px;
            }

            .howWorks_step__btn {
                margin-bottom: 15px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .howWorks {
        .container {
            width: 94%;
        }

        .d-flex {
            display: block;
        }

        &__heading {
            margin-bottom: 13px;
        }

        &_step {
            width: 100%;
            min-height: 240px;
            margin-bottom: 10px;

            &__title {
                margin-bottom: 25px;
            }

            &__text {
                word-spacing: 0.6px;
                letter-spacing: 0.2px;
            }
        }

        .bg1 {
            background-image: url(images/Step1-mobile.png);
        }

        .bg2 {
            background-image: url(images/Step2-mobile.png);

            .howWorks_step__btn {
                margin-bottom: 29px;
            }
        }

        .bg3 {
            background-image: url(images/Step3-mobile.png);
        }
    }
}
