@media screen and (max-width: 992px) {
    .ideas {
        .sport {
            background-image: url(images/sport-tablet.png);
        }

        .healath {
            background-image: url(images/healath-tablet.png);
        }

        .extreme {
            background-image: url(images/extreme-tablet.png);
        }

        .games {
            background-image: url(images/games-tablet.png);
        }

        .culture {
            background-image: url(images/culture-tablet.png);
        }

        .enjomet {
            background-image: url(images/enjomet-tablet.png);
        }

        .trevelling {
            background-image: url(images/trevelling-tablet.png);
        }
    }
}

@media screen and (max-width: 576px) {
    .ideas {
        .container {
            display: block;
            width: 93.9%;
        }

        &__heading {
            padding: 0 30px;
            margin-bottom: 28px;
        }

        &_box {
            min-height: 120px;
            padding: 5px;
            margin-bottom: 10px;
        }

        .sport {
            padding: 0 50px;
            background-image: url(images/sport-mobile.png);
        }

        .healath {
            padding: 0 50px;
            background-image: url(images/healath-mobile.png);
        }

        .extreme {
            background-image: url(images/extreme-mobile.png);
        }

        .games {
            background-image: url(images/games-mobile.png);
        }

        .culture {
            background-image: url(images/culture-mobile.png);
        }

        .enjomet {
            background-image: url(images/enjomet-mobile.png);
        }

        .trevelling {
            background-image: url(images/trevelling-mobile.png);
        }
    }
}
