footer.footer
  hr.h-line
  .container
    .logo.box-width
      a.logo__link(href='#') DREAMSHARE
    .company.box-width
      h6.company__title Company
      .items
        a.items__link(href='#') About
        a.items__link(href='#') Contact
        a.items__link(href='#') Press
        a.items__link(href='#') Blog
        a.items__link(href='#') Terms and Privacy
        a.items__link(href='#') Help
    .partners.box-width
      h6.partners__title Partners
    .designed.box-width
      p.designed__text DESIGNED BY
      img.designed__icon(src='@img/Bitmap-logo.png' alt='logo of the Areto development')
