header.header.mb-89
  .container
    .header_menu
      .header_menu_logo
        a.header_menu_logo__link(href='#') DREAMSHARE
      .header_menu_account
        button.logIn__btn(type="button") Log in
        button.signIn__btn(type="button") Sign up
    .header_content
      h1.header_content__heading
        | SHARE YOUR 
        hr
        |  HOLIDAY DREAM
      p.header_content__text And find the perfect partner to fullfill it
      button.header_content__btn(type="button") Find your holiday partner