.header {
    @include background;
    background-image: url(./images/Background.png);
    min-height: 700px;

    &_menu {
        @include d-flex(space-between, center);
        padding-top: 40px;

        &_logo__link {
            @include text(Montserrat, 20px, 24.38px, 700, white);
        }

        &_account {
            @include d-flex(center, center);
            padding-right: 42px;

            &__log {
                @include text(Montserrat, 14px, 17px, 400, white);
                padding-top: 1px;
                margin-right: 20px;
            }
            &__sign {
                @include d-flex(center, center);
                @include square(90px, 36px, #ffffff00);
                @include text(Montserrat, 14px, 17px, 400, white);
                padding-top: 1px;
                border: 2px solid #ffffff;
                border-radius: $br-radius;
            }
        }
    }

    &_content {
        margin: 147px auto 0px;
        text-align: center;

        &__heading {
            @include text(Montserrat, 52px, 63.39px, 700, white);
            margin-bottom: 28px;
            letter-spacing: 1px;
        }

        &__text {
            @include text(Roboto, 24px, 24.5px, 300, white);
            margin-bottom: 35px;
        }

        &__link {
            @include d-flex(center, center);
            @include square(225px, 40px, #ff4e50);
            @include text(Montserrat, 14px, 17.07px, 700, white);
            margin: 0 auto;
            border-radius: $br-radius;
            word-spacing: 3px;
        }

        &__link:hover {
            outline: 1.5px solid #ff4e50;
        }
    }
}
