.footer {
    .h-line {
        @include square(100%, 2px, $secondaty-color);
        margin-bottom: 36px;
    }

    .container {
        display: flex;
        margin: 0 auto 36px;

        .box-width {
            width: 25%;
        }

        .logo {
            &__link {
                @include setTextStyles(Montserrat, 16px, 19.5px, 400, $secondaty-color);
            }
        }

        .company {
            padding-left: 6px;

            &__title {
                margin: 2px 0 11px 0;
            }

            .items__link {
                display: block;
                @include setTextStyles(Roboto, 14px, 26px, 300, #999999);
            }
        }

        .partners {
            padding-left: 10px;

            &__title {
                @extend .company__title;
            }
        }

        .designed {
            text-align: end;

            &__text {
                margin: 2px 0 7px 0;
                @include setTextStyles(Montserrat, 10px, 12px, 700, #cccccc);
                letter-spacing: 1px;
            }

            &__logo {
                width: 110px;
            }
        }
    }
}

@include responsive(large) {
    .footer {
        .container {
            width: 89.8%;

            .company {
                padding-left: 55px;
            }

            .partners {
                padding-left: 53px;
            }
        }
    }
}

@include responsive(small) {
    .footer {
        .h-line {
            margin-bottom: 20px;
        }

        .container {
            display: block;
            text-align: center;

            .box-width {
                width: 100%;
            }

            .logo {
                margin-bottom: 13px;
            }

            .company {
                padding: 0;
                margin-bottom: 7px;

                &__title {
                    margin: 0;
                }

                .items {
                    @include d-flex(center, start);
                    flex-wrap: wrap;

                    &__link {
                        margin: 0 7px;
                        white-space: nowrap;
                    }
                }
            }

            .partners {
                padding: 0;
                margin-bottom: 13px;
            }

            .designed {
                text-align: center;
            }
        }
    }
}