@import "./base/reset";
@import "./base/mixins";
@import "./base/variables";
@import url(./fonts.css);

.header {
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .container {
        width: 65.5%;
        margin: 0 auto;
    }

    &_menu {
        @include d-flex(space-between, center);
        padding-top: 40px;

        &_logo__link {
            @include text(Montserrat, 20px, 24.38px, white);
            font-weight: 700;
            text-decoration: none;
        }
        &_account {
            @include d-flex(center, center);
            padding-right: 43px;

            &__log {
                @include text(Montserrat, 14px, 17px, white);
                text-decoration: none;
                margin-right: 20px;
                padding-top: 1px;
            }
            &__sign {
                @include text(Montserrat, 14px, 17px, white);
                @include d-flex(center, center);
                text-decoration: none;
                width: 90px;
                height: 36px;
                border: 2px solid #ffffff;
                border-radius: 40px;
                padding-top: 1px;
            }
        }
    }

    &_content {
        width: 60%;
        margin: 147px auto 0px;
        text-align: center;

        h1 {
            @include text(Montserrat, 52px, 63.39px, white);
            font-weight: 700;
            letter-spacing: 0.9px;
            margin-bottom: 28px;
        }

        p {
            @include text(Roboto, 24px, 24.5px, white);
            margin-bottom: 35px;
        }

        button {
            @include text(Montserrat, 14px, 17.07px, white);
            font-weight: 700;
            width: 225px;
            height: 40px;
            border: none;
            border-radius: 40px;
            background-color: #ff4e50;
            word-spacing: 3px;
            cursor: pointer;
        }
    }
}

.d-flex {
    display: flex;
}

.footer {
    hr {
        @include square(100%, 2px, #ff4e50);
        margin-bottom: 36px;
    }

    .container {
        width: 80%;
        margin: 0 auto 36px;
    }

    h3 {
        @include text(Montserrat, 16px, 19.5px, #ff4e50);
        width: 35%;
    }

    h6 {
        @include text(Montserrat, 14px, 17.07px, #444444);
        font-weight: 700;
        width: 25%;
        margin-bottom: 11px;
    }

    &_company {
        width: 40%;

        a {
            @include text(Roboto, 14px, 26px, #999999);
            display: block;
            text-decoration: none;
            margin-bottom: 6px;
        }
    }

    &_design-logo {
        text-align: end;
        width: 20%;

        p {
            @include text(Montserrat, 10px, 12.19px, #cccccc);
            font-weight: 700;
        }

        img {
            width: 110px;
        }
    }
}
