html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url(/styles/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(/styles/fonts/Roboto/Roboto-Light.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  color: #ffffff;
  background-color: #ffa710;
}

::selection {
  color: #ffffff;
  background-color: #ffa710;
}

.container {
  width: 65.4%;
  margin: 0 auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-mb {
  margin-bottom: 89px;
}

h2 {
  font-family: Montserrat;
  font-size: 26px;
  line-height: 31.69px;
  font-weight: 700;
  color: #444444;
  margin-bottom: 35px;
  text-align: center;
  letter-spacing: 0.8px;
}

h6 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17.07px;
  font-weight: 700;
  color: #444444;
}

a {
  text-decoration: none;
}

.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(./images/Background.png);
  min-height: 700px;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.header_menu_logo__link {
  font-family: Montserrat;
  font-size: 20px;
  line-height: 24.38px;
  font-weight: 700;
  color: white;
}

.header_menu_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 42px;
}

.header_menu_account__log {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: white;
  padding-top: 1px;
  margin-right: 20px;
}

.header_menu_account__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 36px;
  background-color: #ffffff00;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: white;
  padding-top: 1px;
  border: 2px solid #ffffff;
  border-radius: 40px;
}

.header_content {
  margin: 147px auto 0px;
  text-align: center;
}

.header_content__heading {
  font-family: Montserrat;
  font-size: 52px;
  line-height: 63.39px;
  font-weight: 700;
  color: white;
  margin-bottom: 28px;
  letter-spacing: 1px;
}

.header_content__text {
  font-family: Roboto;
  font-size: 24px;
  line-height: 24.5px;
  font-weight: 300;
  color: white;
  margin-bottom: 35px;
}

.header_content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 40px;
  background-color: #ff4e50;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17.07px;
  font-weight: 700;
  color: white;
  margin: 0 auto;
  border-radius: 40px;
  word-spacing: 3px;
}

.header_content__link:hover {
  outline: 1.5px solid #ff4e50;
}

.footer .h-line {
  width: 100%;
  height: 2px;
  background-color: #ff4e50;
  margin-bottom: 36px;
}

.footer .container {
  margin: 0 auto 36px;
}

.footer .box-width {
  width: 25%;
}

.footer .logo__link {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  color: #ff4e50;
}

.footer .company {
  padding-left: 6px;
}

.footer .company__title, .footer .partners__title {
  margin: 2px 0 11px 0;
}

.footer .company .items__link {
  font-family: Roboto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #999999;
  display: block;
}

.footer .partners {
  padding-left: 10px;
}

.footer .designed {
  text-align: end;
}

.footer .designed__text {
  font-family: Montserrat;
  font-size: 10px;
  line-height: 12.19px;
  font-weight: 700;
  color: #cccccc;
  margin: 2px 0 7px 0;
  letter-spacing: 1px;
}

.footer .designed__logo {
  width: 110px;
}

.howWorks_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 31.9%;
  min-height: 400px;
  padding: 21px 25px;
  margin-right: 20px;
  border-radius: 4px;
}

.howWorks_step__btn {
  font-family: Montserrat;
  font-size: 10px;
  line-height: 12.19px;
  font-weight: 400;
  color: #ffffff;
  width: 70px;
  padding: 5px 0px 3px 2px;
  margin-bottom: 21px;
  background-color: #ff4e50;
  border: none;
  border-radius: 40px;
  letter-spacing: 2px;
}

.howWorks_step__title {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 24px;
  letter-spacing: 0.6px;
}

.howWorks_step__text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: #e3e3e3;
}

.howWorks_step:last-child {
  margin-right: 0;
}

.howWorks .bg1 {
  background-image: url(./images/Step1.png);
}

.howWorks .bg2 {
  background-image: url(./images/Step2.png);
}

.howWorks .bg2 .howWorks_step__btn {
  margin-bottom: 23px;
}

.howWorks .bg2 .howWorks_step__title {
  margin-bottom: 17px;
}

.howWorks .bg3 {
  background-image: url(./images/Step3.png);
}

.meet {
  text-align: center;
}

.meet .container {
  width: 90%;
}

.meet__heading {
  letter-spacing: 0.7px;
}

.meet .d-flex {
  margin-bottom: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.meet_partner {
  width: 221px;
  margin-right: 19px;
}

.meet_partner_box {
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  position: relative;
  margin: 0 auto 20px;
}

.meet_partner_box__avatar {
  border-radius: 50%;
}

.meet_partner_box__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  outline: 4px solid #ffffff;
}

.meet_partner_box .icon-color1 {
  background-color: #ff4e50;
}

.meet_partner_box .icon-color2 {
  background-color: #19d4ca;
}

.meet_partner_box .icon-color3 {
  background-color: #ffa710;
}

.meet_partner_box .icon-color4 {
  background-color: #667df3;
}

.meet_partner__title {
  margin-bottom: 21px;
  letter-spacing: 0.4px;
}

.meet_partner__text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: #666666;
  margin-bottom: 36px;
}

.meet_partner:last-child {
  margin-right: 0;
}

.meet__btn {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17.07px;
  font-weight: 700;
  color: #ff4e50;
  width: 180px;
  padding: 10px 0px 8px 7px;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  border-radius: 40px;
  letter-spacing: 0.3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.meet__btn:hover {
  background-color: #ff4e50;
  color: #ffffff;
  cursor: pointer;
}

.ideas .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.ideas_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 310px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.ideas_box__title {
  font-family: Montserrat;
  font-size: 22px;
  line-height: 26.82px;
  font-weight: 700;
  color: #ffffff;
  word-spacing: 4px;
}

.ideas .sport {
  background-image: url(images/sport.png);
}

.ideas .healath {
  background-image: url(images/healath.png);
}

.ideas .extreme {
  background-image: url(images/extreme.png);
}

.ideas .games {
  background-image: url(images/games.png);
}

.ideas .culture {
  background-image: url(images/culture.png);
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.ideas .enjomet {
  background-image: url(images/enjomet.png);
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.ideas .trevelling {
  background-image: url(images/trevelling.png);
}

.interests {
  margin-bottom: 100px;
}

.interests__heading {
  margin-bottom: 53px;
}

.interests .search-form {
  text-align: center;
}

.interests .search-form__title {
  font-family: Roboto;
  font-size: 18px;
  line-height: 14px;
  font-weight: 300;
  color: #666666;
}

.interests .search-form .search {
  margin-top: 26px;
}

.interests .search-form .search__input {
  width: 299px;
  height: 40px;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 300;
  color: #999999;
  padding: 14px 14px 10px;
  margin: 0px 6px 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
}

.interests .search-form .search__input:hover, .interests .search-form .search__input:focus {
  outline: 1px solid #d4d4d4;
}

.interests .search-form .search__btn {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17.07px;
  font-weight: 700;
  color: #ffffff;
  width: 172px;
  padding: 13px 0px 10px 6px;
  margin-right: 3px;
  background-color: #ff4e50;
  border: none;
  border-radius: 40px;
  letter-spacing: 0.5px;
}

.interests .search-form .search__btn:hover {
  outline: 1.5px solid #ff4e50;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .section-mb {
    margin-bottom: 91px;
  }
  .container {
    width: 97.3%;
  }
  h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  .section-mb {
    margin-bottom: 31px;
  }
  h2 {
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 992px) {
  .header .container {
    width: 87.1%;
  }
  .header_menu_account {
    padding-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .header {
    min-height: 540px;
  }
  .header_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 21px;
  }
  .header_menu_account {
    margin-bottom: 97px;
  }
  .header_menu_logo {
    letter-spacing: 0.5px;
  }
  .header_content {
    margin: 26px auto 0px;
  }
  .header_content__heading {
    margin-bottom: 6px;
    font-size: 30px;
    line-height: 36.57px;
  }
  .header_content__text {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .header_content__link {
    width: 280px;
  }
}

@media screen and (max-width: 992px) {
  .howWorks__heading {
    margin-bottom: 33px;
  }
  .howWorks_step {
    padding: 15px 20px;
    background-position: inherit;
  }
  .howWorks_step__title {
    margin-bottom: 30px;
    line-height: 14px;
  }
  .howWorks_step__btn {
    margin-bottom: 45px;
  }
  .howWorks .bg2 .howWorks_step__title {
    margin-bottom: 24px;
  }
  .howWorks .bg2 .howWorks_step__btn {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  .howWorks .container {
    width: 94%;
  }
  .howWorks .d-flex {
    display: block;
  }
  .howWorks__heading {
    margin-bottom: 13px;
  }
  .howWorks_step {
    width: 100%;
    min-height: 240px;
    margin-bottom: 10px;
  }
  .howWorks_step__title {
    margin-bottom: 25px;
  }
  .howWorks_step__text {
    word-spacing: 0.6px;
    letter-spacing: 0.2px;
  }
  .howWorks .bg1 {
    background-image: url(/styles/images/Step1-mobile.png);
  }
  .howWorks .bg2 {
    background-image: url(/styles/images/Step2-mobile.png);
  }
  .howWorks .bg2 .howWorks_step__btn {
    margin-bottom: 29px;
  }
  .howWorks .bg3 {
    background-image: url(/styles/images/Step3-mobile.png);
  }
}

@media screen and (max-width: 992px) {
  .meet .d-flex {
    margin-bottom: 4px;
  }
  .meet_partner {
    width: 236px;
    margin-right: 20px;
  }
  .meet_partner_box {
    margin: 0 auto 18px;
  }
  .meet_partner:nth-child(1) {
    margin: 0 20px 0 0;
  }
  .meet_partner:nth-child(2) {
    margin: 0 20px 0 0;
  }
  .meet_partner:nth-child(2) .meet_partner__title {
    margin-bottom: 23px;
  }
  .meet_partner:nth-child(3) {
    margin: 0 0 3px 0;
  }
  .meet_partner:nth-child(4) {
    margin: 0;
  }
  .meet_partner:nth-child(4) .meet_partner__title {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 831px) {
  .meet_partner:nth-child(1) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .meet_partner:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .meet_partner:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .meet_partner:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (max-width: 576px) {
  .meet .container {
    width: 94%;
  }
  .meet_partner:nth-child(1) {
    margin: 0;
  }
  .meet_partner:nth-child(1) .meet_partner__text {
    margin-bottom: 16px;
  }
  .meet_partner:nth-child(2) {
    margin: 0;
  }
  .meet_partner:nth-child(2) .meet_partner__text {
    margin-bottom: 15px;
  }
  .meet_partner:nth-child(3) {
    margin: 0;
  }
  .meet_partner:nth-child(3) .meet_partner__text {
    margin-bottom: 22px;
  }
  .meet_partner:nth-child(4) {
    margin: 0;
  }
  .meet_partner:nth-child(4) .meet_partner__text {
    margin-bottom: 31px;
  }
  .meet__btn {
    width: 280px;
  }
}

@media screen and (max-width: 992px) {
  .ideas .sport {
    background-image: url(/styles/images/sport-tablet.png);
  }
  .ideas .healath {
    background-image: url(/styles/images/healath-tablet.png);
  }
  .ideas .extreme {
    background-image: url(/styles/images/extreme-tablet.png);
  }
  .ideas .games {
    background-image: url(/styles/images/games-tablet.png);
  }
  .ideas .culture {
    background-image: url(/styles/images/culture-tablet.png);
  }
  .ideas .enjomet {
    background-image: url(/styles/images/enjomet-tablet.png);
  }
  .ideas .trevelling {
    background-image: url(/styles/images/trevelling-tablet.png);
  }
}

@media screen and (max-width: 576px) {
  .ideas .container {
    display: block;
    width: 93.9%;
  }
  .ideas__heading {
    padding: 0 30px;
    margin-bottom: 28px;
  }
  .ideas_box {
    min-height: 120px;
    padding: 5px;
    margin-bottom: 10px;
  }
  .ideas .sport {
    padding: 0 50px;
    background-image: url(/styles/images/sport-mobile.png);
  }
  .ideas .healath {
    padding: 0 50px;
    background-image: url(/styles/images/healath-mobile.png);
  }
  .ideas .extreme {
    background-image: url(/styles/images/extreme-mobile.png);
  }
  .ideas .games {
    background-image: url(/styles/images/games-mobile.png);
  }
  .ideas .culture {
    background-image: url(/styles/images/culture-mobile.png);
  }
  .ideas .enjomet {
    background-image: url(/styles/images/enjomet-mobile.png);
  }
  .ideas .trevelling {
    background-image: url(/styles/images/trevelling-mobile.png);
  }
}

@media screen and (max-width: 992px) {
  .interests__heading {
    margin-bottom: 50px;
  }
  .interests .search-form .search {
    margin-top: 25px;
  }
}

@media screen and (max-width: 576px) {
  .interests {
    margin-bottom: 40px;
  }
  .interests__heading {
    padding: 0 10px;
    margin-bottom: 14px;
  }
  .interests .search-form .search {
    margin-top: 15px;
  }
  .interests .search-form .search__input {
    width: 280px;
    margin: 0 0 10px 0;
  }
  .interests .search-form .search__btn {
    width: 280px;
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {
  footer .container {
    width: 89.8%;
  }
  footer .company {
    padding-left: 55px;
  }
  footer .partners {
    padding-left: 53px;
  }
}

@media screen and (max-width: 576px) {
  .footer .h-line {
    margin-bottom: 20px;
  }
  .footer .d-flex {
    display: block;
    text-align: center;
  }
  .footer .logo {
    margin-bottom: 13px;
  }
  .footer .box-width {
    width: 100%;
  }
  .footer .company {
    padding: 0;
    margin-bottom: 7px;
  }
  .footer .company__title, .footer .partners__title {
    margin: 0;
  }
  .footer .company .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .company .items__link {
    margin: 0 7px;
    white-space: nowrap;
  }
  .footer .partners {
    padding: 0;
    margin-bottom: 13px;
  }
  .footer .designed {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */